#colophon{
 
}

.title{
 
}

.version{
 
}

.intro{
  
}

.module_intro{
  
}

.theme_intro{

} 
 
.right_image{
  display: block;
  margin-left: auto; 
}

.center_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left_image{
  display: block;
  margin-right: auto;
}